.hash-table-info-header {
  text-align: center;
  margin-top: 10px;
}

.hash-table-buckets-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.hash-table-bucket-container {
  margin: 10px;
  padding: 5px;
  width: 20%;
  border: 1px solid #1aab8a;
}

.hash-table-bucket-header {
  background-color: #39cccc;
  color: #ffffff;
  padding: 5px;
}

.hash-table-items-container {
  display: flex;
  flex-direction: column;
}

.hash-table-item {
  background-color: #1aab8a;
  color: #ffffff;
  margin: auto auto 5px auto;
  padding: 5px;
  max-width: 100%;
}

@media (max-width: 800px) {
  .hash-table-bucket-container {
    width: 40%;
  }
}
