.home-card-box {
  width: 50%;
  text-align: center;
  padding: 5px;
}

.home-card-image {
  width: 60%;
}

.home-card-link {
  color: #b23a48;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-card-link:hover {
  color: #7ca5b8;
}

@media (max-width: 800px) {
  .home-card-box {
    width: 100%;
  }

  .home-card-link {
    color: #b23a48;
    font-size: 0.65em;
  }
}
