.HomeCardBox {
  width: 45%;
  text-align: center;
  padding: 5px;
}

.HomeCardImage {
  width: 60%;
}

.HomeCardLink {
  color: #1aab8a;
  font-size: 1.2em;
}


@media only screen and (max-width: 600px) {
  .HomeCardLink {
    color: #1aab8a;
    font-size: 0.65em;
  }
  
}