.HomeCardBox {
  width: 45%;
  text-align: center;
  padding: 5px;
}

.HomeCardImage {
  width: 60%;
}

.HomeCardLink {
  color: #1aab8a;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center
}

.HomeCardLink:hover {
  color: #39cccc;
}


@media (max-width: 800px) {
  .HomeCardBox {
    width: 100%;
  }

  .HomeCardLink {
    color: #1aab8a;
    font-size: 0.65em;
  }
  
}