.home-flex-container {
  display: flex;
  text-align: center;
}

.home-algo-ds-box {
  width: 50%;
  padding: 5px;
}

.home-header {
  color: #1aab8a;
  width: 75%;
  height: 13%;
  margin: auto;
  font-size: 1.8em;
}

.home-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .home-header {
    font-size: 1em;
  }

  .home-card-wrapper {
    margin-top: 0px;
  }
}
