.HomeFlexContainer {
  display: flex;
  text-align: center;
}

.HomeAlgoDSBox {
  width: 50%;
  padding: 5px;
}

.HomeHeader {
  color: #1aab8a;
  width: 75%;
  height: 13%;
  margin: auto;
  font-size: 1.8em;
}

.HomeCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 30px;
}

@media  (max-width: 800px) {
  .HomeHeader {
    font-size: 1em;
  }

  .HomeCardWrapper {
    margin-top: 0px;
  }
}