.original-arr-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.flipper-ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.flipper-ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.arr-flipper-li {
  list-style: none;
  height: 200px;
  position: relative;
  width: 150px;
}

.pointer-flipper-li {
  list-style: none;
  position: relative;
  width: 150px;
}

.flipped-div {
  background-color: #39cccc;
  color: #000000;
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 2vw;
  left: 0;
  right: 0;
}

.arrow-up {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1aab8a;
}
