.ButtonRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.OriginalArrWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.FlipperUL {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.FlipperUL {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.ArrFlipperLI {
  list-style: none;
  height: 200px;
  position: relative;
  width: 150px;
}

.PointerFlipperLI {
  list-style: none;
  position: relative;
  width: 150px;
}

.FlippedDiv {
  background-color: #39cccc;
  color: #000000;
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 2vw;
  left: 0;
  right: 0;
}

.ArrowUp {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1aab8a;
}
