.queue-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.queue-border-column {
  width: 15%;
  background-color: #ea5455;
  color: #ffffff;
  text-align: center;
}

.queue-column {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.queue-node {
  display: 'flex';
  width: 20%;
  height: 5vh;
  border: 1px solid white;
  background-color: #39cccc;
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
}

.queue-val {
  padding-top: 0.65vh;
}
