.my-button {
  background: #b23a48;
  color: #ffffff;
  border: none;
  margin: 2px;
  font-size: 1em;
  padding: 0.2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.my-button-disabled {
  background: #fcb9b2;
  color: #ffffff;
  border: none;
  margin: 2px;
  font-size: 1em;
  padding: 0.2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
