.linked-list-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.linked-list-border-column {
  width: 15%;
  background-color: #7ca5b8;
  color: #ffffff;
  text-align: center;
}

.linked-list-column {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.linked-list-node {
  display: flex;
  width: 20%;
  height: 5vh;
  align-items: center;
}

.linked-list-val-wrapper {
  width: 80%;
  height: 5vh;
  border: 1px solid white;
  background-color: #b23a48;
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
}

.linked-list-val {
  padding-top: 1vh;
}

.linked-list-arrow-shaft {
  width: 10%;
  height: 1vh;
  border: 1px solid white;
  background-color: #b23a48;
  color: #ffffff;
}

.linked-list-arrow-head {
  width: 5%;
  height: 1vh;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #b23a48;
}

@media only screen and (max-width: 600px) {
  .linked-list-node {
    display: flex;
    width: 30%;
    height: 5vh;
  }
}
