.ButtonRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.LinkedListContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.BorderColumn {
  width: 15%;
  background-color: #ea5455;
  color: white;
  text-align: center;
}

.LinkedListColumn {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.LinkedListNode {
  display: flex;
  width: 20%;
  height: 5vh;
  align-items: center;
}

.LinkedListValWrapper {
  width: 80%;
  height: 5vh;
  border: 1px solid white;
  background-color: #39cccc;
  text-align: center;
  font-size: 1.1em;
  color: white;
}

.LinkedListVal {
  padding-top: 1vh;
}

.LinkedListArrowShaft {
  width: 10%;
  height: 1vh;
  border: 1px solid white;
  background-color: #39cccc;
  color: white;
}

.LinkedListArrowHead {
  width: 5%;
  height: 1vh;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #39cccc;
}

.EnterNodePrompt {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .LinkedListNode {
    display: flex;
    width: 30%;
    height: 5vh;
  }
}
