.sorting-list-item-outer-div {
  height: 200px;
  margin-right: 3vw;
  position: relative;
  width: 150px;
}

.sorting-list-item-inner-div {
  background-color: #39cccc;
  color: #000000;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 2vw;
}
