.sorting-list-item-outer-div {
  height: 200px;
  position: relative;
  width: 150px;
}

.sorting-list-item-inner-div {
  background-color: #b23a48;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 2vw;
  left: 0;
  right: 0;
}
