.app-container {
  margin-top: 20px;
  padding-bottom: 10px;
  min-height: 85vh;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.enter-node-prompt-no-margin {
  text-align: center;
  color: #b23a48;
}

.enter-node-prompt-margin-top {
  margin-top: 5vh;
  text-align: center;
  color: #b23a48;
}
