.stack-display-container {
  display: flex;
  height: 70vh;
}

.stack-empty-border-column {
  width: 15%;
}

.stack-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.stack-node {
  display: 'flex';
  width: 50%;
  height: 5vh;
  border: 1px solid white;
  background-color: #b23a48;
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
}

.stack-val {
  padding-top: 0.65vh;
}
